.drawer-paper {
    background-color: #5356ff;
    width: 240px;
    /* Adjust the width as needed */
}

.drawer-content {
    padding: 20px;
    /* Add padding for content inside the drawer */
}

.drawer-header {
    color: #6a0000;
    font-size: 24px;
    /* Increase font size for header */
    font-weight: bold;
    /* Make header text bold */
    margin-bottom: 20px;
}

.drawer-list {
    border-top: 1px solid #490303;
    /* Add border at the top of the list */
}

.drawer-item {
    color: #550d0d;
    border-bottom: 1px solid #4d0606;
    /* Add border at the bottom of each item */
    padding: 10px 0;
    /* Add padding to each item */
}

.drawer-item:hover {
    background-color: #4d6dff;
    /* Change background color on hover */
}